<!DOCTYPE html>
<html lang="en">
<head>
    include layout/header.pug
    <link rel="stylesheet" href="styles/myOrders.css">
    <title>Мои заказы</title>
    <script src="javascript/myOrders.js" defer></script>
</head>
<body>
    include layout/menu.pug
    <main>
        <h1 class="my-orders-title">Мои заказы</h1>
        <div class="orders">
            if(ordersArray)
                each order in ordersArray 
                    <div class="order" data-order_id='#{order.orderId}'>
                        <div class="order-header">
                            <div class="order-number-and-date">
                                <span class="order-number">##{order.orderId}</span>
                                <span class="order-date">#{order.orderDate}</span>
                            </div>
                            <div class="total-amount">
                                |#{order.totalAmount}
                                <object type="image/svg+xml" data="images/ruble-white.svg" class="ruble-icon">Руб.</object>
                            </div>
                        </div>
                        <div class="order-body">
                            <div class="total-count">
                                | Товаров 
                                <span class="total-count__span">#{order.totalCount}</span>
                            </div>
                        </div>
                    </div>
            else 
                <div> У вас нет заказов</div>
        </div>
    </main>
    include layout/footer.pug
</body>
</html>