<!DOCTYPE html>
<html lang="en">
<head>
    include layout/header.pug
    <link rel="stylesheet" href="styles/myProfile.css">
    <title>Мой профиль</title>
    <script src="javascript/myProfile.js" defer></script>
</head>
<body>
    include layout/menu.pug
    <main>
        if(message)
            <div class="message">#{message}</div>
        <form action="/myProfile" method="post" class="my_profile_form form">
            <h1>Мой профиль</h1>
            <div class="material-design-input-wrap">
                <input  type="text" 
                        | class="material-design-input__readonly material-design-input" 
                        | name="surname" id="surname"
                        | value="#{accountData.user_surname}" required readonly/>
                <label for="surname" class="full_name-label material-design-label-for-input">
                    <span class="content-surname">Фамилия</span>
                </label>
                <object type="image/svg+xml" data="images/cross.svg" class="cross-icon"></object>
                <object type="image/svg+xml" data="images/correct_gray.svg" class="correct-icon"></object>
            </div>
            <div class="material-design-input-wrap">
                <input  type="text" 
                        | class="material-design-input__readonly material-design-input" 
                        | name="firstname" id="firstname" 
                        | value="#{accountData.user_name}" required readonly/>
                <label for="firstname" class="full_name-label material-design-label-for-input">
                    <span class="content-firstname">Имя</span>
                </label>
                <object type="image/svg+xml" data="images/cross.svg" class="cross-icon"></object>
                <object type="image/svg+xml" data="images/correct_gray.svg" class="correct-icon"></object>
            </div>
            <div class="material-design-input-wrap">
                <input  type="text" 
                        | class="material-design-input__readonly material-design-input" 
                        | name="patronymic" id="patronymic"
                        | value="#{accountData.user_patronymic}" required readonly/>
                <label for="patronymic" class="full_name-label material-design-label-for-input">
                    <span class="content-patronymic">Отчество</span>
                </label>
                <object type="image/svg+xml" data="images/cross.svg" class="cross-icon"></object>
                <object type="image/svg+xml" data="images/correct_gray.svg" class="correct-icon"></object>
            </div>
            <div class="material-design-input-wrap">
                <input  type="text" 
                        | class="material-design-input__readonly material-design-input" 
                        | value="#{accountData.email}" 
                        | name="email" id="email" 
                        | required readonly/>
                <label for="email" class="email-label material-design-label-for-input">
                    <span class="content-email">Email</span>
                </label>
                <object type="image/svg+xml" data="images/cross.svg" class="cross-icon"></object>
                <object type="image/svg+xml" data="images/correct_gray.svg" class="correct-icon"></object>
            </div>
            <div class="material-design-input-wrap">
                <input  type="text" 
                        | class="material-design-input__readonly material-design-input" 
                        | name="telephone" id="telephone" 
                        | value="#{accountData.telephone}" required readonly/>
                <label for="telephone" class="telephone-label material-design-label-for-input">
                    <span class="content-telephone">Телефон</span>
                </label>
                <object type="image/svg+xml" data="images/cross.svg" class="cross-icon"></object>
                <object type="image/svg+xml" data="images/correct_gray.svg" class="correct-icon"></object>
            </div>
            <div class="material-design-input-wrap">
                <input  type="password" 
                        | class="material-design-input__readonly material-design-input" 
                        | value="#{accountData.password}" name="password" id="password" 
                        | required readonly/>
                <label for="password" class="password-label material-design-label-for-input">
                    <span class="content-password">Пароль</span>
                </label>
                <object type="image/svg+xml" data="images/cross.svg" class="cross-icon"></object>
                <object type="image/svg+xml" data="images/correct_gray.svg" class="correct-icon"></object>
            </div>
            <div class="material-design-input-wrap repeat_password_wrap_readonly">
                <input  type="password" 
                        | class="material-design-input__readonly material-design-input" 
                        | name="repeat_password" 
                        | value="#{accountData.password}" id="repeat_password" required readonly/>
                <label for="repeat_password" class="repeat_password-label material-design-label-for-input">
                    <span class="content-repeat_password">Повторите пароль</span>
                </label>
                <object type="image/svg+xml" data="images/cross.svg" class="cross-icon"></object>
                <object type="image/svg+xml" data="images/correct_gray.svg" class="correct-icon"></object>
            </div>
            <div class="material-design-input-wrap">
                <input  type="text" 
                        | class="material-design-input__readonly material-design-input" 
                        | name="address" 
                        | value="#{accountData.address}" id="address" required readonly/>
                <label for="address" class="address-label material-design-label-for-input">
                    <span class="content-address">Адрес</span>
                </label>
            </div>
            <div class="button_wrap__edit button_wrap">
                <button type="button" class="button_wrap__button">Редактировать</button>
                <svg viewBox="-15 -15 484.00019 484" xmlns="http://www.w3.org/2000/svg" class="pencil-icon icon"><path d="m401.648438 18.234375c-24.394532-24.351563-63.898438-24.351563-88.292969 0l-22.101563 22.222656-235.269531 235.144531-.5.503907c-.121094.121093-.121094.25-.25.25-.25.375-.625.746093-.871094 1.121093 0 .125-.128906.125-.128906.25-.25.375-.371094.625-.625 1-.121094.125-.121094.246094-.246094.375-.125.375-.25.625-.378906 1 0 .121094-.121094.121094-.121094.25l-52.199219 156.96875c-1.53125 4.46875-.367187 9.417969 2.996094 12.734376 2.363282 2.332031 5.550782 3.636718 8.867188 3.625 1.355468-.023438 2.699218-.234376 3.996094-.625l156.847656-52.324219c.121094 0 .121094 0 .25-.121094.394531-.117187.773437-.285156 1.121094-.503906.097656-.011719.183593-.054688.253906-.121094.371094-.25.871094-.503906 1.246094-.753906.371093-.246094.75-.621094 1.125-.871094.125-.128906.246093-.128906.246093-.25.128907-.125.378907-.246094.503907-.5l257.371093-257.371094c24.351563-24.394531 24.351563-63.898437 0-88.289062zm-232.273438 353.148437-86.914062-86.910156 217.535156-217.535156 86.914062 86.910156zm-99.15625-63.808593 75.929688 75.925781-114.015626 37.960938zm347.664062-184.820313-13.238281 13.363282-86.917969-86.917969 13.367188-13.359375c14.621094-14.609375 38.320312-14.609375 52.945312 0l33.964844 33.964844c14.511719 14.6875 14.457032 38.332031-.121094 52.949218zm0 0"/></svg>
            </div>
            <div class="button_wrap__confirm button_wrap">
                <button type="submit" class="button_wrap__button">Подтвердить</button>
                <svg viewBox="0 0 78.369 78.369" xmlns="http://www.w3.org/2000/svg" class="pencil-icon icon"><path d="M78.049,19.015L29.458,67.606c-0.428,0.428-1.121,0.428-1.548,0L0.32,40.015c-0.427-0.426-0.427-1.119,0-1.547l6.704-6.704 c0.428-0.427,1.121-0.427,1.548,0l20.113,20.112l41.113-41.113c0.429-0.427,1.12-0.427,1.548,0l6.703,6.704 C78.477,17.894,78.477,18.586,78.049,19.015z"/></svg>
            </div>
        </form>
    </main>
    include layout/footer.pug
</body>
</html>