<!DOCTYPE html>
<html lang="en">
<head>
    include layout/header.pug
    <link rel="stylesheet" href="styles/orderRegistration.css">
    <title>Оформление заказа</title>
</head>
<body>
    include layout/menu.pug
    <main>
        if(productList)
            <div class="order-info">
                <div class="user-data">
                    <!-- Сюда вставить данные о заказе потом -->
                </div>
                <div class="order-items">
                    <table class="productList">
                        <caption>Список товаров</caption>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Наименование</th>
                                <th>Стоимость</th>
                                <th>Количество</th>
                            </tr>
                        </thead>
                        <tbody>
                            each product in productList
                                <tr class="product">
                                    <td class="product-image"><img src='#{product.product_url_img}' /></td>
                                    <td class="product-name">#{product.product_name}</td>
                                    <td>
                                        | #{product.product_amount}
                                        <img src="images/ruble.svg" alt="ruble" class="ruble-icon" width="15px" height="15px">
                                    </td>
                                    <td>#{product.product_count}</td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="order-total">
                <h2 class="order-heading">Ваш заказ:</h2>
                <div class="total-amount-label">
                    <div class="total-amount-count">#{total_count} товар(a)</div>
                    <div class="price">на 
                        <span class="price-value">#{total_amount}</span>
                        <img src="images/ruble.svg" alt="ruble" class="ruble-icon" width="15px" height="15px">
                    </div>
                </div>
                <div class="order-button-wrap">
                    form(action="/orderRegistration", method="POST")
                        <button class="order-button" type="submit">
                            | Оформить заказ
                        </button>
                </div>
            </div>   
    </main>
    include layout/footer.pug
</body>
</html>
