<!DOCTYPE html>
<html lang="en">
<head>
    include layout/header.pug
    <link rel="stylesheet" href="styles/orderRegistration.css">
    <title>Оформление заказа</title>
</head>
<body>
    include layout/menu.pug
    <main>
        <form action="/orderRegistration" method="post" class="order-info-form">
            <h1>Заказ № #{orderData.id}</h1>
            if(productList)
                <div class="contact-info">
                    <h5>Контактная информация</h5>
                    <div class="address">
                        <span class="address-title">Адрес доставки: </span>
                        <p>
                            | #{orderData.address}
                            <a href="/changeAddressDelivery">
                                <img src="images/pencil.svg" class="pencil-icon" alt="Изменить"/>
                            </a>
                        </p>
                    </div>
                    <div>
                        <span class="telephone-title">Телефон для связи:</span>
                        <p>
                            | #{orderData.telephone}
                            <a href="/myProfile">
                                <img src="images/pencil.svg" class="pencil-icon" alt="Изменить"/>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="product-list-wrap">
                    <table class="product-list">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Наименование</th>
                                <th>Стоимость</th>
                                <th>Количество</th>
                            </tr>
                        </thead>
                        <tbody>
                            each product in productList
                                <tr class="product">
                                    <td class="product-image"><img src='#{product.product_url_img}' /></td>
                                    <td class="product-name" arial-label="Наименование">#{product.product_name}</td>
                                    <td arial-label="Стоимость">
                                        | #{product.product_amount}
                                        <img src="images/ruble.svg" alt="ruble" class="ruble-icon" width="15px" height="15px">
                                    </td>
                                    <td arial-label="Количество">#{product.count}</td>
                                </tr>
                        </tbody>
                    </table>
                </div>
                <div class="order-total">
                    <div class="total-count">
                        <strong>Товаров: </strong> #{total_count} шт.
                    </div>
                    <div class="price">
                        <strong class="price-value">Итого:</strong>
                        | #{total_amount}
                        <img src="images/ruble.svg" alt="ruble" class="ruble-icon">
                    </div>
                    <div class="order-button-wrap">
                        <button class="order-button" type="submit">Оформить заказ</button>
                    </div>
                </div>
        </form>
    </main>
    include layout/footer.pug
</body>
</html>
