<!DOCTYPE html>
<html lang="en">
<head>
    include layout/header.pug
    <link rel="stylesheet" href="styles/module/custom-table.css">
    <link rel="stylesheet" href="styles/personnel.css">
    <script src="javascript/personnel.js" defer></script>
    <title>Сотрудники</title>
</head>
<body>
    include layout/menu.pug
    <main>
        <h1>Сотрудники</h1>
        <div class="custom-table">
            <div class="head">
                <div class="full_name">ФИО</div>
                <div class="email">Email</div>
                <div class="telephone">Телефон</div>
                <div class="position">Должность</div>
            </div>
            <div class="body">
            each worker in workerList
                <div class="worker" data-worker_id="#{worker.worker_id}">
                    <div class="full_name" data-label="ФИО">#{worker.surname} #{worker.name} #{worker.patronymic}</div>
                    <div class="email" data-label="Email">#{worker.email}</div>
                    <div class="telephone" data-label="Тел.">#{worker.telephone}</div>
                    <div class="position" data-label="Долж.">#{worker.position}</div>
                    <div>
                        <a href="/editWorkerProfile?workerId=#{worker.worker_id}">
                            <img src="images/pencil.svg" alt="Редактировать" class="pencil-icon icon"/>
                        </a>
                        <img src="images/trash.svg" alt="Удалить" class="trash-icon icon" data-worker_id="#{worker.worker_id}">
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="toolbar top-toolbar">
        <img src="images/cross-white.svg" class="cross-white-icon icon"/>
        <span>Выбрано: <span class="selected-count"></span></span>
        <img src="images/select-all.svg" class="select-all-icon icon"/>
    </div>
    <div class="toolbar bottom-toolbar">
        <img src="images/pencil-white.svg" class="bottom-toolbar__pencil-icon icon"/>
        <img src="images/pencil.svg" class="bottom-toolbar__pencil-blocked-icon icon"/>
        <img src="images/trash-white.svg" class="bottom-toolbar__trash-icon icon"/>
    </div>
    include layout/toTop.pug
    include layout/footer.pug
</body>
</html>