<!DOCTYPE html>
<html lang="en">
<head>
    include layout/header.pug
    <link rel="stylesheet" href="styles/productsReport.css">
    <script src="javascript/productsReport.js" defer></script>
    <title>Товары</title>
</head>
<body>
    include layout/menu.pug
    <main>
        <h1 class="product-report-title">Товары</h1>
        <table class="table_adaptive products">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Категория</th>
                    <th>Описание</th>
                    <th>Цена</th>
                    <th>В наличии</th>
                </tr>
            </thead>
            <tbody>
                each product in products
                    <tr class="product" data-product_id = "#{product.product_id}">
                        <td data-label="Наим.">#{product.product_name}</td>
                        <td data-label="Кат.">#{product.category}</td>
                        <td data-label="Опис." class="product-description"><div>#{product.product_description}</div></td>
                        <td data-label="Цена">#{product.product_amount}</td>
                        <td data-label="В нал.">
                            | #{product.product_count_stock}
                            <div class="action">
                                <span><a href="deleteProductById?productId=#{product.product_id}">Удалить</a></span>
                                <span><a href="editProductProperties?productId=#{product.product_id}">Редактировать</a></span>
                            </div>
                        </td>
                    </tr>
            </tbody>
        </table>
    </main>
    include layout/footer.pug
</body>
</html>
