<!DOCTYPE html>
<html lang="en">
<head>
    include layout/header.pug
    <link rel="stylesheet" href="styles/productList.css">
    <title>Каталог товаров</title>
</head>
<body>
    include layout/menu.pug
    <aside>
        <ul class="product-categories">
            each category in categories
                li(class=(category.name==activeCategory ? 'active' : ''))
                    <a href="productList?categoryName=#{category.name}">#{category.name}</a>
        </ul>
    </aside>
    <main>
        <div class="product-list">
            each product in productList 
                <div class="product">
                    <h3 class="product-name"> <a href="/product?productId=#{product.product_id}" class="product-name-link">#{product.product_name}</a></h3>
                    <a href="/product?productId=#{product.product_id}"><img src="#{product.product_url_img}"/></a>
                    <div class="product-price">
                        <span class="product_amount">#{product.product_amount}</span>
                        <object type="image/svg+xml" data="images/ruble.svg" class="ruble-icon">Рубль(я)</object>
                    </div>
                    if !isWorker
                        <button class="add-to-cart" data-product_id="#{product.product_id}">
                            if(successAuthentication) 
                                | Добавить в корзину
                            else 
                                <a href="/signIn">Добавить в корзину</a>
                        </button>
                </div> 
        </div>        
    </main>
    if(successAuthentication)
        <script src="javascript/addToCart.js" defer></script>
    include layout/footer.pug
</body>
</html>