<!DOCTYPE html>
<html lang="en">
    <head>
        include layout/header.pug
        <title>Продажи за день</title>
    </head>
    <body>
        include layout/menu.pug
        <main>
            <h1>Продажи за день</h1>
            <table class="table_adaptive">
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Категория</th>
                        <th>Количество</th>
                        <th>Стоимость</th>
                        <th>Покупатель</th>
                    </tr>
                </thead>
                <tbody>
                    each product in salesPerDay
                        <tr>
                            <td data-label="Наим.">#{product.product_name}</td>
                            <td data-label="Кат.">#{product.name}</td>
                            <td data-label="Кол.">#{product.count}</td>
                            <td data-label="Стоим.">#{product.product_amount}</td>
                            <td data-label="Покуп."> #{product.user_surname} #{product.user_name} #{product.user_patronymic}</td>
                        </tr>
                </tbody>
            </table>
        </main>
        include layout/footer.pug
    </body>
</html>