<!DOCTYPE html>
<html lang="en">
<head>
    include layout/header.pug
    <link rel="stylesheet" href="styles/salesByRange.css">
    <title>Продажи за период</title>
</head>
<body>
    include layout/menu.pug
    <main>
        <h1 class="product-report-title">Отчёт по товарам</h1>
        <table class="table_adaptive products">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Категория</th>
                    <th>Описание</th>
                    <th>Цена</th>
                    <th>Клиент</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tbody>
                each sale in salesByRange
                    <tr class="product">
                        <td data-label="Наим.">#{sale.product}</td>
                        <td data-label="Кат.">#{sale.category}</td>
                        <td data-label="Цена">#{sale.amount}</td>
                        <td data-label="Кол-во">#{sale.count}</td>
                        <td data-label="Клиент">#{sale.user}</td>
                        <td data-label="Дата">#{sale.date}</td>
                    </tr>
            </tbody>
        </table>
    </main>
    include layout/footer.pug
</body>
</html>