<!DOCTYPE html>
<html lang="en">
<head>
    include layout/header.pug
    //- <link rel="stylesheet" href="styles/module/custom-table.css">
    <link rel="stylesheet" href="styles/supplyOfProducts.css">
    <script src="javascript/supplyOfProducts.js" defer></script>
    <title>Приход товаров</title>
</head>
<body>
    include layout/menu.pug
    <main>
        <h1>Приход товаров</h1>
        <div class="income_list">
        each income in incomeList
            <div class="income">
                <div class="income_id">
                    <span></span>
                    <span>ID прихода: #{income.income}</span>
                    <span></span>
                </div>
                <div class="product_list__wrap">
                    <table class="product_list">
                        <thead>
                            <tr>
                                <th>Наименование</th>
                                <th>Категория</th>
                                <th>Закупочная цена</th>
                                <th>Количество</th>
                                <th>Сотрудник</th>
                            </tr>
                        </thead>
                        <tbody>
                        each product, index in income.productList
                            <tr>
                                <td aria-label="Наим.">#{product.name}</td>
                                <td aria-label="Кат.">#{product.category}</td>
                                <td aria-label="Цена">#{product.amount} руб.</td>
                                <td aria-label="Кол-во">#{product.count} шт.</td>
                                if(index === 0)
                                    <td class="worker_name" aria-label="Сотрудник">
                                        | #{income.worker}
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    include layout/toTop.pug
    include layout/footer.pug
</body>
</html>