<!DOCTYPE html>
<html lang="en">
<head>
    include layout/header.pug
    <link rel="stylesheet" href="styles/supplyOfProducts.css">
    <title>Приход товаров</title>
</head>
<body>
    include layout/menu.pug
    <main>
        <h1>Приход товаров</h1>
        <table class="table_adaptive">
            <thead>
                <tr>
                    <th>Код прихода</th>
                    <th>Наименование</th>
                    <th>Категория</th>
                    <th>Закупочная цена</th>
                    <th>Количество</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tbody>
                each product in supplyOfProducts
                    <tr>
                        <td data-label="Код">#{product.id}</td>
                        <td data-label="Наим.">#{product.product_name}</td>
                        <td data-label="Кат.">#{product.name}</td>
                        <td data-label="Зак.цена">#{product.amount}</td>
                        <td data-label="Кол.">#{product.count}</td>
                        <td data-label="Дата">#{product.date}</td>
                    </tr>
            </tbody>
        </table>
    </main>
    include layout/footer.pug
</body>
</html>